main/lib/__pycache__/__init__.cpython-39.pyc
main/lib/arquivo/__pycache__/__init__.cpython-39.pyc
main/lib/dado/__pycache__/__init__.cpython-39.pyc
main/lib/interface/__pycache__/__init__.cpython-39.pyc

main/cadastros.txt
*.pyc
main/.vscode/launch.json
